/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>


#define QWERTY 0
#define SYSCTL 1
#define SYMBOL 2


&led_strip {
    chain-length = <25>; // Uncomment if using only per-key LEDs.
};

/ {
    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            //  ┌───────┬───────┬───────┬───────┬───────┬───────┐                                      ┌───────┬───────┬───────┬───────┬───────┬───────┐
            //  │  ESC  │   Q   │   W   │   E   │   R   │   T   │                                      │   Y   │   U   │   I   │   O   │   P   │   \   │
            //  ├───────┼───────┼───────┼───────┼───────┼───────┤                                      ├───────┼───────┼───────┼───────┼───────┼───────┤
            //  │  TAB  │   A   │   S   │   D   │   F   │   G   │                                      │   H   │   J   │   K   │   L   │   ;   │   '   │
            //  ├───────┼───────┼───────┼───────┼───────┼───────┼───────┬───────┐      ┌───────┬───────┼───────┼───────┼───────┼───────┼───────┼───────┤
            //  │ SHIFT │   Z   │   X   │   C   │   V   │   B   │L SHIFT│L SHIFT│      │       │L SHIFT│   N   │   M   │   ,   │   .   │   /   │  CTRL │
            //  └───────┴───────┴────┬──┴────┬──┴────┬──┴────┬──┴─────┬─┴──────┬┘      └┬──────┴─┬─────┴──┬────┴──┬────┴──┬────┴──┬────┴───────┴───────┘
            //                       │  GUI  │  DEL  │ ENTER │  BPSC  │  SMBL  │        │  SYSC  │ SPACE  │  TAB  │ BSPC  │ R ALT │
            //                       └───────┴───────┴───────┴────────┴────────┘        └────────┴────────┴───────┴───────┴───────┘

            bindings = <
            &kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                  &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
            &kp TAB   &kp A &kp S &kp D &kp F &kp G                                                  &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
            &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT            &none   &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
                                  &kp LGUI &kp DEL &kp ENTER &kp BSPC &mo SYMBOL   &mo SYSCTL &kp SPACE &kp TAB &kp BSPC &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        sysctl_layer {
            //  ┌───────┬───────┬───────┬───────┬───────┬───────┐                                      ┌───────┬───────┬───────┬───────┬───────┬───────┐
            //  │       │       │BT_CLR │BTSEL0 │BTSEL1 │BTSEL2 │                                      │       │       │       │       │       │       │
            //  ├───────┼───────┼───────┼───────┼───────┼───────┤                                      ├───────┼───────┼───────┼───────┼───────┼───────┤
            //  │       │       │       │BTSEL3 │BTSEL4 │       │                                      │       │       │       │       │       │       │
            //  ├───────┼───────┼───────┼───────┼───────┼───────┼───────┬───────┐      ┌───────┬───────┼───────┼───────┼───────┼───────┼───────┼───────┤
            //  │       │       │       │       │       │       │       │       │      │       │       │       │       │       │       │       │       │
            //  └───────┴───────┴────┬──┴────┬──┴────┬──┴────┬──┴─────┬─┴──────┬┘      └┬──────┴─┬─────┴──┬────┴──┬────┴──┬────┴──┬────┴───────┴───────┘
            //                       │       │       │       │        │        │        │        │        │       │       │       │
            //                       └───────┴───────┴───────┴────────┴────────┘        └────────┴────────┴───────┴───────┴───────┘

            bindings = <
            &none  &none  &bt BT_CLR &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2                                         &none  &none  &none  &none  &none  &none 
            &none  &none  &none      &bt BT_SEL 3  &bt BT_SEL 4 &none                                                &none  &none  &none  &none  &none  &none 
            &none  &none  &none      &none         &none        &none        &none  &none              &none  &none  &none  &none  &none  &none  &none  &none 
                                     &none         &none        &none        &none  &trans             &trans &none  &none  &none  &none 
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        symbol_layer {
            //  ┌───────┬───────┬───────┬───────┬───────┬───────┐                                      ┌───────┬───────┬───────┬───────┬───────┬───────┐
            //  │       │       │BT_CLR │BTSEL0 │BTSEL1 │BTSEL2 │                                      │       │       │  UP   │       │       │       │
            //  ├───────┼───────┼───────┼───────┼───────┼───────┤                                      ├───────┼───────┼───────┼───────┼───────┼───────┤
            //  │       │       │       │BTSEL3 │BTSEL4 │       │                                      │       │ LEFT  │ DOWN  │ RIGHT │       │       │
            //  ├───────┼───────┼───────┼───────┼───────┼───────┼───────┬───────┐      ┌───────┬───────┼───────┼───────┼───────┼───────┼───────┼───────┤
            //  │       │       │       │       │       │       │       │       │      │       │       │       │       │       │       │       │       │
            //  └───────┴───────┴────┬──┴────┬──┴────┬──┴────┬──┴─────┬─┴──────┬┘      └┬──────┴─┬─────┴──┬────┴──┬────┴──┬────┴──┬────┴───────┴───────┘
            //                       │       │       │       │        │        │        │        │        │       │       │       │
            //                       └───────┴───────┴───────┴────────┴────────┘        └────────┴────────┴───────┴───────┴───────┘

            bindings = <
            &none  &none  &bt BT_CLR &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2                                         &none  &none     &kp UP    &none      &none  &none 
            &none  &none  &none      &bt BT_SEL 3  &bt BT_SEL 4 &none                                                &none  &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none 
            &none  &none  &none      &none         &none        &none        &none  &none              &none  &none  &none  &none     &none     &none      &none  &none 
                                     &none         &none        &none        &none  &trans             &trans &none  &none  &none     &none 
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};



// Kyria v3.1 template
//
//  ┌───────┬───────┬───────┬───────┬───────┬───────┐                                      ┌───────┬───────┬───────┬───────┬───────┬───────┐
//  │       │       │       │       │       │       │                                      │       │       │       │       │       │       │
//  ├───────┼───────┼───────┼───────┼───────┼───────┤                                      ├───────┼───────┼───────┼───────┼───────┼───────┤
//  │       │       │       │       │       │       │                                      │       │       │       │       │       │       │
//  ├───────┼───────┼───────┼───────┼───────┼───────┼───────┬───────┐      ┌───────┬───────┼───────┼───────┼───────┼───────┼───────┼───────┤
//  │       │       │       │       │       │       │       │       │      │       │       │       │       │       │       │       │       │
//  └───────┴───────┴────┬──┴────┬──┴────┬──┴────┬──┴─────┬─┴──────┬┘      └┬──────┴─┬─────┴──┬────┴──┬────┴──┬────┴──┬────┴───────┴───────┘
//                       │       │       │       │        │        │        │        │        │       │       │       │
//                       └───────┴───────┴───────┴────────┴────────┘        └────────┴────────┴───────┴───────┴───────┘